// Main Colour varaibles
$primary-purple: #7310FF;
$primary-purple-light: #EAE8FE;
$primary-purple-dark: #650CE4;

$primary-heading-colour: #1B298B;
$primary-heading-dark: #12161C;

$primary-grey-light: #F5F5F9;
$primary-grey-dark: #707070;
$primary-white: #ffffff;

// Fonts

