// Main Colour variables

$white: #ffffff;

// light theme
$light-theme-white: #FBFAF8;
$light-theme-lblue: #DCF7F8;
$light-theme-blue: #96CFC6;
$light-theme-green: #DAE3CE;
$light-theme-mint: #8FF2E2;
$light-theme-peach: #FFB399;
$light-theme-orange: #FF9E5C;
$light-theme-dark: #4F4E5D;

//dark theme
$dark-theme-black: #090F1B;
$dark-theme-dblue: #2A2484;
$dark-theme-lblue: #2AA7B4;
$dark-theme-grey: #E0E6EB;
$dark-theme-pink: #FF6679;

// Fonts

