@use '../abstracts/variables';

.navigation {
    width: 100%;
    z-index: 999;
    position:fixed;
    bottom: 0;
    height: 8rem;
    background-color: variables.$primary-white;
    display: flex;
    justify-content: space-evenly;

    &__fav {
        margin-right: 3rem;
    }
    &__help {
        margin-left: 3rem;
    }

    &__search {
        position: absolute;
        top: -3rem;
        background-color: variables.$primary-purple;
        border-radius: 50%;
        height: 6rem;
        width: 6rem;

        &:after {
            content: '';
            position: absolute;
            left: -.35rem;
            top: -.35rem;
            height: 6.7rem;
            width: 6.7rem;
            border-radius: 50%;
            opacity: 1;
            background-color: transparent;
            box-shadow: 0rem 0rem 3rem -0.5rem variables.$primary-purple;

        }

        & i {
            color: variables.$primary-white !important;
            position: absolute;
            top: -1rem;
            left: 1.5rem;
        }

    }

    & i {
        font-size: 3rem;
        line-height: 8rem;
        color: variables.$primary-purple;
    }
}